extends layout
block content
    form(action='/filter', id='user_input')
        select(name='name')
            option(disabled='', selected='', value='') Select One...
            option(value='CONSTRUCTION') Under Construction
            option(value='BP FILED') BP Filed
            option(value='BP REINSTATED') BP Reinstated
            option(value='BP ISSUED') BP Issued
            option(value='PL APPROVED') PL Approved
            option(value='PL FILED') PL Filed
        input(type='submit', value='Submit', name='on_map')
    form(action='/csv_export')
        input(type='hidden', name='lastname' value=name id = 'test_input')
        input(type='submit', value='Export Selection to CSV', name='on_map')
    button(id='pdf_download') Download PDF Report
        
    #map
    script.
        var myData = !{JSON.stringify(jsonData)};
    
    script(src="/javascripts/example.js")
