extends layout
block content
    form(action='/filter', id='user_input')
        select(name='name')
            option(disabled='', selected='', value='') Select One...
            option(value='CONSTRUCTION') Under Construction
            option(value='BP FILED') BP Filed
            option(value='BP REINSTATED') BP Reinstated
            option(value='--') Bad Option
        input(type='submit', value='Submit', name='on_map')
        input(type='button', value='Export to CSV')
    form(action='/csv_export')
        input(type='submit', value='Export Selection to CSV')
    button Export CSV Data
        
    #map
    script.
        var myData = !{JSON.stringify(jsonData)};
        var status = document.getElementById('user_input').name;
        $("button").click(function(){
            //$.ajax({type: 'GET', url: '/csv_export', data: {ID: 'hello baby'}});
            $.post("/csv_export", {ID: JSON.stringify(myData)});
            });
    
    script(src="/javascripts/example.js")
