body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#menu h1 {
    font-size: 120%;
    display: inline;
    font-weight: bold;
}

#menu {
    position: absolute;
    padding: 10px;
    left: 0;
    width: 40%;
    height: 100%;
}

/*
#menu #user_input .fromto {
    margin-left: 100px; 
    padding-right: 50px;
}
*/

/*
#menu form {
    display: table;
}

#menu form p {
    display: table-row;
}

#menu form p label {
    display: table-cell;
}

#menu form p input {
    display: table-cell;
}

#menu form p select {
    display: table-cell;
}*/

#map {
    position: absolute;
    right: 0;
	width: 60%;
	height: 100%;
}

form label {
    font-weight: normal;
}

.description {
  display: none;
  	color: #777;
}

#pano {
    height: 50%;
    color: #777;
	width: 200px;
	height: 200px;
  }
  


