body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#menu h1 {
    font-size: 120%;
}

#menu {
    position: absolute;
    padding: 10px;
    left: 0;
    width: 40%;
    height: 100%;
}

#map {
    position: absolute;
    right: 0;
	width: 60%;
	height: 100%;
}

form label {
    font-weight: normal;
}

.description {
  display: none;
  	color: #777;
}

#pano {
    height: 50%;
    color: #777;
	width: 200px;
	height: 200px;
  }

