body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#menu h1 {
    font-size: 120%;
}

#menu {
    position: absolute;
    padding: 10px;
    left: 0;
    width: 40%;
    height: 100%;
}

.element {
    float: right;
}

#map {
    position: absolute;
    right: 0;
	width: 60%;
	height: 100%;
}

form label {
    font-weight: normal;
}

.description {
  display: none;
  	color: #777;
}

#pano {
    height: 50%;
    color: #777;
	width: 200px;
	height: 200px;
  }
  
div.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
div.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

/* Change background color of buttons on hover */
div.tab button:hover {
    background-color: #ddd;
}

